<link rel="stylesheet" href="/styles/core.css">
<title><%= config.sitename%></title>
<meta property="og:site_name" content="JSBoard"/>
<meta property="og:title" content="Home"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="/"/>
<meta property="og:image" content="/favicon.ico"/>
<meta property="og:description" content="View recent articles"/>
<meta name="theme-color" content="#333333"> 
<body>
    <h2>Home</h2>
</body>