<link rel="stylesheet" href="/styles/core.css">
<link rel="stylesheet" href="/styles/update.css">
<title>JSBoard update</title>
<meta property="og:site_name" content="JSBoard"/>
<meta property="og:title" content="JSBoard update center"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="/"/>
<meta property="og:image" content="/favicon.ico"/>
<meta property="og:description" content="JSBoard update homepage"/>
<meta name="theme-color" content="#333333">
<head>
    <div>
        <h2>JSBoard configuration finished</h2>
        <h2>To prevent mongodb issues the server has shut down</h2>
        <h2>Please restart your mongodb server to use JSBoard</h2>
    </div>
</body>
