<link rel="stylesheet" href="/styles/core.css">
<link rel="stylesheet" href="/styles/update.css">
<!DOCTYPE html>
<title>JSBoard update</title>
<meta property="og:site_name" content="JSBoard"/>
<meta property="og:title" content="JSBoard update center"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="/"/>
<meta property="og:image" content="/favicon.ico"/>
<meta property="og:description" content="JSBoard update homepage"/>
<meta name="theme-color" content="#333333">
<body>
    <br>
    <% if(needConfig) { %>
        <h2>JSBoard update configuration</h2>
        <h2><code>Version: <%= config.version %></code></h2>
        <h2>Welcome to JSBoard update/setup</h2>
        <h2>If you have previously set up JSBoard</h2>
        <h2>Please visit our support discord <a href="https://google.com">Here</a></h2>
        <br>
        <a href="/update/configure" class="button">Setup</a>
    <% }else{ %>
        <h2>JSBoard update homepage</h2>
        <h2><code>Version: <%= config.version %></code></h2>
        <h2>JSBoard has already been configured!</h2>
        <h2>If this is a bug delete the file at <code>/modules/core/config.json</code></h2>
        <h2>You will be sent home in 5 seconds</h2>
        <meta http-equiv="refresh" content="5; URL=/home" />
    <% } %>
</body>